
body {
    display:flex;
    font-family: "Oswald", sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(239, 239, 154);
    background-repeat: no-repeat;
    width: 90%;
    max-width: auto;
    height: 90%;
    max-height: auto;
}

.container {
    border: 2px solid grey; 
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 30%; 
    max-width: auto;
    height: 60%;
    max-height: auto;
    padding: 20px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

form{
    margin-left: 20px;
    margin-right: 20px;
}

#nama {
    width: 95%;
    max-width: auto;
    height: 90%;
    max-height: auto;
    background-color:aquamarine;
}

#nim {
    width: 95%;
    max-width: auto;
    height: 90%;
    max-height: auto;
    background-color:aquamarine;
}

#tanggal {
    width: 95%;
    max-width: auto;
    height: 90%;
    max-height: auto;
    background-color:aquamarine;
}

h3{
    text-align: center;
}

button {
    margin-top: 20px;
    background-color:lightcoral;
    width: 95%;
    max-width: auto;
    height: 90%;
    max-height: auto;
}

button:hover {
    background-color: brown;
}

#angkatan{
    background-color:aquamarine;
}

#alamat{
    width: 95%;
    max-width: auto;
    height: 90%;
    max-height: auto;
    background-color:aquamarine;
}
